body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #f4f5f7;
}

.hamburger {
  display: none;
}

.mobile-menu {
  display: none;
}

.header {
  display: grid;
  grid-template-columns: 1fr;
  background-color: #fff;
  border-radius: 0 0 0 100px;
  -webkit-border-radius: 0 0 0 100px;
  -moz-border-radius: 0 0 0 100px;
  -ms-border-radius: 0 0 0 100px;
  -o-border-radius: 0 0 0 100px;
}

.social-icons {
  display: flex;
  gap: 20px;
}

.header .social-icons {
  padding-bottom: 225px;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 25px 155px;
}

.intro {
  background-image: url("./assets/desktop_images/Header\ bg.png");
  background-repeat: no-repeat;
  object-fit: cover;
  background-position-x: center;
}

.introc-content {
  padding: 284px 260px 0 260px;
}

.introc-content h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
  display: flex;
  align-items: center;
  letter-spacing: 0.37px;
  color: #091e42;
  animation: slow-in 5s forwards;
}

@keyframes slow-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.introc-content p {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #344563;
}

.introc-content h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
}

ul {
  list-style-type: none;
  padding: 0;
}

.nav-link-desktop ul {
  display: flex;
  gap: 32px;
}

.nav-link-desktop ul li a {
  text-decoration: none;
}

.works-container {
  display: flex;
  flex-direction: column;
}

.card-wrapper {
  display: flex;
  margin: 142px;
  padding: 24px;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 24px;
}

.card-wrapper:nth-child(even) {
  flex-direction: row-reverse;
}

.card-content-wrapper {
  margin: 46px;
}

.card-wrapper img {
  width: 544px;
  transition: transform 2s;
  -webkit-transition: transform 2s;
  -moz-transition: transform 2s;
  -ms-transition: transform 2s;
  -o-transition: transform 0.5s;
}

.card-wrapper img:hover {
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
}

.card-wrapper h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #091e42;
}

.see-projects-btn {
  margin-top: 40px;
  padding: 12px 16px;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: rgba(64, 83, 252, 1);
  background: rgba(57, 109, 242, 0);
  border: 2px solid rgba(64, 83, 252, 1);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transition: background-color 1s, color 0.5s, rotate 0.8s ease-in-out;
  -webkit-transition: background-color 1s, color 0.5s, rotate 0.8s ease-in-out;
  -moz-transition: background-color 1s, color 0.5s, rotate 0.8s ease-in-out;
  -ms-transition: background-color 1s, color 0.5s, rotate 0.8s ease-in-out;
  -o-transition: background-color 1s, color 0.5s, rotate 0.8s ease-in-out;
}

.see-projects-btn:hover {
  background-color: rgba(64, 83, 252, 1);
  color: white;
  rotate: 10deg;
  border: none;
}

.tech-used li {
  background: rgba(235, 235, 255, 1);
  padding: 4px 12px;
  color: rgba(96, 112, 255, 1);
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.canopy-list {
  display: flex;
  gap: 12px;
}

.card-empty-list {
  width: 8px;
  height: 8px;
  align-self: center;
  background-color: #c1c7d0;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.canopy-list li:nth-child(3),
.canopy-list li:nth-child(5) {
  color: rgba(107, 119, 140, 1);
}

.card-content-wrapper p {
  color: rgba(52, 69, 99, 1);
}

.tech-used {
  display: flex;
  gap: 8px;
}

.last-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 48px;
  padding: 166px 143px;
  padding-bottom: 216px;
  background-color: #fff;
  border-radius: 0 100px 0 0;
  -webkit-border-radius: 0 100px 0 0;
  -moz-border-radius: 0 100px 0 0;
  -ms-border-radius: 0 100px 0 0;
  -o-border-radius: 0 100px 0 0;
}

.last-section h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #091e42;
}

.last-section p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.about-social h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
}

.language-item,
.frameworks-item,
.skills-item,
.language-list {
  display: flex;
  align-items: center;
}

.language-item,
.frameworks-item,
.skills-item {
  justify-content: space-between;
}

.language-item h3,
.frameworks-item h3,
.skills-item h3 {
  color: rgba(52, 69, 99, 1);
}

.language-list {
  gap: 12px;
}

.js,
.html,
.css {
  display: grid;
  grid-gap: 16px;
  background: #f7f7f9;
  border-radius: 8px;
  padding: 12px;
}

.skills {
  border-top: 1px solid #dfe1e6;
  border-bottom: 1px solid #dfe1e6;
}

footer {
  background: rgba(96, 112, 255, 1);
  background-image: url("./assets/desktop_images/contact\ form\ background\ shapes.png");
  background-repeat: no-repeat;
  background-position-x: center;
  margin-top: -70px;
  padding-top: 142px;
  padding-bottom: 127px;
  border-radius: 100px 0 0 0;
  -webkit-border-radius: 100px 0 0 0;
  -moz-border-radius: 100px 0 0 0;
  -ms-border-radius: 100px 0 0 0;
  -o-border-radius: 100px 0 0 0;
}

.footer-section {
  display: flex;
  flex-direction: column;
  width: 801px;
  margin: auto;
  justify-content: center;
}

.footer-text,
form {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 12px;
}

form {
  padding: 0 116px;
}

form input {
  width: 100%;
  height: 48px;
  padding-left: 16px;
}

form textarea {
  width: 100%;
  padding-left: 16px;
}

.footer-submit-btn {
  margin: auto;
  padding: 12px 16px;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: #fff;
  color: #6070ff;
  border: 1px solid #6070ff;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.footer-text h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  color: #fff;
  text-align: center;
  justify-content: center;
  margin: 0;
}

.footer-text p {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #ebebff;
  margin-top: 0;
}

/* .modal-wraper{
  overflow-y: scroll;
  width: 100%;
  height: 100%;
  padding: 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
} */
/* 
.blurer{
  filter: blur(19px);
}
.screen-cover{
  overflow: hidden;
  max-height: 100vh;
}

.modal{
  overflow-y: scroll;

  width: 70%;
  margin: auto;
  padding: 24px;
  border-radius: 16px;
  background: #FFFFFF;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.ven-modal-ul-li{
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.title-canopy-cancel-wrapper{
  display: flex;
  justify-content: space-between;
}

.title-canopy-cancel-wrapper li{
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.title-canopy-cancel-wrapper h2{
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.featured-img-wrapper{
  border: 3px solid red;
  display: flex;
  justify-content: center;
}

.featured-img-wrapper img{
  width: 80%
}

.ven-detail-stack-wrapper{
  display: flex;
}

.ven-detail-stack-wrapper p{
  margin-top:0 ;
  margin-bottom:0 ;
} */



/* modal popUl */
/* .modal-wraper{
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-20%, -50%);
  -webkit-transform: translate(-20%, -50%);
  -moz-transform: translate(-20%, -50%);
  -ms-transform: translate(-20%, -50%);
  -o-transform: translate(-20%, -50%);
}

.blurer{
  backdrop-filter: blur(19px);
  background-color: red
}


.modal .canopy-list-wrapper{
  display: flex
} 

.screen-cover{
  overflow: hidden;
}  */

/* .hide{
  display: none;
} */