* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #f4f5f7;
}

/* .nav-link-desktop {
  display: none;
} */

.hide{
  display: none;
}

.bg-mobile{
  position: absolute;
  top: 0px;
  right: 0px;
  width: 90%;
  height: 100%;
}

.mobile-menu{
  display: flex;
}

/* .cancel-mobile{
  position: absolute;
  top: 15px;
  float: right;
}
.cancel-mobile-menu-icon{
  width: 15px;
} */



/* .nav-link-desktop{
  position: absolute;
} */

/* .add-bg-on-mobile{
  background-color: teal
} */

.mobile-menu{
  background-color: rgba(96, 112, 255, 1);
  backdrop-filter: blur(9px);
  mix-blend-mode: multiply;
  width: 100%; position: absolute;
  top: 0; left: 0;
  height: 100%;
  justify-content: space-around;
  padding-top: 62px;
}

.mobile-menu ul{
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  
}

.mobile-menu ul li a{
  font-style: normal;
font-weight: 600;
font-size: 32px;
line-height: 44px;
/* or 138% */

display: flex;
align-items: center;
color: #FFFFFF;
text-decoration: none;
}

.pad-vet {
  padding: 16px 0 0 0;
}

.pad-both {
  padding: 16px;
}

.pad-aside {
  padding: 0 24px;
}

.margin-v-24 {
  margin: 24px 0;
}

.margin-h-24 {
  margin: 0 24px;
}

/* toggole mobile menu */
.cancel-mobile{
  display: flex;
}

.cancel-mobile img{
  object-fit: contain;
}

.hide{
  display: none;
}

.header {
  padding: 58px 0 0 0;
  display: flex;
  flex-direction: column;
  gap: 50px;
  background-color: white;
  border-radius: 0 0 0 50px;
  -webkit-border-radius: 0 0 0 50px;
  -moz-border-radius: 0 0 0 50px;
  -ms-border-radius: 0 0 0 50px;
  -o-border-radius: 0 0 0 50px;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.introc-content {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 128px 0;
  background-image: url("./assets/header-shapes\ mobile.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.introc-content h1 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
}

.introc-content p {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.introc-content h3 {
  color: rgba(127, 140, 255, 1);
}

.social-icons {
  display: flex;
  align-items: baseline;
  gap: 20px;
}

.about-social {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.lang-fram-skills {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.card-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  margin: 114px 24px;
}

.card-content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card-wrapper h2 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
}

.card-wrapper p {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
}

.canopy-list {
  display: flex;
  list-style-type: none;
  gap: 12px;
}

.canopy-list .card-empty-list {
  width: 8px;
  height: 8px;
  background: #c1c7d0;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  align-self: center;
}

ul li {
  list-style-type: none;
}

.tech-used li {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  background: #ebebff;
  border-radius: 8px;
  color: #6070ff;
  list-style-type: none;
}

.canopy-list li:nth-child(3),
.canopy-list li:nth-child(5) {
  color: #7a869a;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
}

.tech-used {
  display: flex;
  gap: 8px;
}

.see-projects-btn {
  padding: 12px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #396df2;
  background: rgba(57, 109, 242, 0);
  width: 50%;
  border: 2px solid #396df2;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.last-section {
  display: flex;
  flex-direction: column;
  gap: 30px;
  background: #fff;
  padding: 114px 24px 314px 24px;
  border-radius: 0 50px 0 0;
  -webkit-border-radius: 0 50px 0 0;
  -moz-border-radius: 0 50px 0 0;
  -ms-border-radius: 0 50px 0 0;
  -o-border-radius: 0 50px 0 0;
}

.last-section h2 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
}

.last-section p {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.last-section > h3 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
}

.language-item,
.frameworks-item,
.skills-item {
  display: flex;
  justify-content: space-between;
  font-family: 'Poppins', sans-serif;
  padding-right: 25px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: #000;
  align-items: center;
  padding-top: 12px;
  padding-bottom: 12px;
}

.skills-item {
  border-top: 2px solid #dfe1e6;
  border-bottom: 2px solid #dfe1e6;
}

.language-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.css,
.js,
.html {
  display: flex;
  gap: 16px;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  background: rgba(247, 247, 249, 1);
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.language-list img {
  padding: 9px 12px;
}

.footer-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: rgba(96, 112, 255, 1);
  background-image: url("./assets/header-shapes\ mobile.png");
  background-position: 100% 0%;
  background-repeat: no-repeat;
  padding-top: 103px;
  margin-top: -50px;
  border-radius: 60px 0 0 0;
  -webkit-border-radius: 60px 0 0 0;
  -moz-border-radius: 60px 0 0 0;
  -ms-border-radius: 60px 0 0 0;
  -o-border-radius: 60px 0 0 0;
}

.footer-text {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.footer-text h1 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  align-items: center;
  text-align: center;
  color: #fff;
}

.footer-text p {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #ebebff;
}

form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

form input {
  height: 25px;
  font-size: 17px;
}

form input,
form textarea {
  padding: 15px 16px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  color: #172b4d;
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
}

form textarea {
  font-size: 15px;
}

.footer-submit-btn {
  width: 50%;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #6070ff;
  background: #fff;
  padding: 16px;
  border: none;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.footer-horizontal-line {
  width: 134px;
  margin: auto;
  margin-bottom: 8px;
  border: 5px solid #0d151e;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

i {
  color: #acb7c3;
}

.see-projects-btn:hover {
  transition: 0.5s ease-in-out;
  background: rgba(57, 109, 242, 0.5);
  border: none;
  color: white;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
}

.active {
  transition: 0.5s ease-in-out;
  background: rgba(57, 109, 242, 1);
  border: none;
  color: white;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
}
