
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background: #e5e5e5;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 2vw 5vw;
  background-color: white;
}

.navbar .logo {
  vertical-align: middle;
  margin-top: 3px;
}

.hamburger {
  width: 10vw;
  height: 4px;
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.line-top,
.line-middle,
.line-bottom {
  border: 2px solid #6070ff;
}

.title {
  font-style: normal;
  font-weight: 700;
  font-size: 10vw;
  line-height: 52px;
  color: #172b4d;
}

.intro {
  background: url("./assets/bg.png") no-repeat;
  background-color: white;
  padding: 128px 24px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 0 0 0 50px;
  -webkit-border-radius: 0 0 0 50px;
  -moz-border-radius: 0 0 0 50px;
  -ms-border-radius: 0 0 0 50px;
  -o-border-radius: 0 0 0 50px;
}

.let-connect {
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 24px;
  color: #7f8cff;
}

.bio {
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 24px;
  color: #344563;
}

.social-icons {
  display: flex;
  gap: 5%;
  align-items: baseline;
}

.social-icons i {
  color: #505f79;
}

li {
  list-style-type: none;
}

.social-icons li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* works section */

.works {
  display: grid;
  gap: 25vw;
  padding: 0 1vw;
  margin-top: 25vw;
  margin-bottom: 114px;
}

.card {
  width: 327px;
  margin: auto;
  background-color: white;
  padding: 16px;
  border: 1px solid #dfe1e6;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 4vw;
  padding-bottom: 5vw;
}

.card-image img {
  width: 100%;
}

.card-title {
  color: #172b4d;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
}

.card-year {
  display: flex;
  gap: 3vw;
}

.card-year li {
  color: #7a869a;
  align-self: baseline;
}

.card .canopy {
  color: #344563;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  text-transform: uppercase;
}

.empty-dot {
  width: 2vw;
  height: 2vw;
  background-color: #c1c7d0;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.card-details {
  color: #344563;
}

.card-tech-category {
  display: flex;
  gap: 3vw;
}

.card-tech-category li {
  color: #6070ff;
  background: #ebebff;
  padding: 4px 12px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.see-projects-btn {
  color: #396df2;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  padding: 12px 4px;
  line-height: 24px;
  width: 45%;
  background: transparent;
  border: 1px solid #396df2;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.see-projects-btn:hover {
  background-color: #6070ff;
  color: white;
}

.disabled {
  color: #5e6c84;
  border: 1px solid #5e6c84;
}

.see-projects-btn:active {
  color: white;
  background-color: #2230d2;
}

.intro-about {
  background-color: white;
  padding: 128px 24px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 0 50px 0 0;
  -webkit-border-radius: 0 50px 0 0;
  -moz-border-radius: 0 50px 0 0;
  -ms-border-radius: 0 50px 0 0;
  -o-border-radius: 0 50px 0 0;
}

.title-about {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
}

.catgories {
  display: flex;
  flex-direction: column;
  gap: 3vw;
  margin-top: 15px;
}

.tech {
  display: flex;
  gap: 4vw;
  align-items: center;
  background-color: #f7f7f9;
  padding: 2.25vw;
  border-radius: 2vw;
  -webkit-border-radius: 2vw;
  -moz-border-radius: 2vw;
  -ms-border-radius: 2vw;
  -o-border-radius: 2vw;
}

.language,
.skill,
.framework {
  font-style: normal;
  font-weight: 600;
  font-size: 5vw;
  line-height: 24px;
  color: #000;
  display: flex;
  justify-content: space-between;
  margin: 5vw 0;
  padding-right: 7.5vw;
}

.skill {
  border-top: 1px solid #dfe1e6;
  border-bottom: 1px solid #dfe1e6;
  padding-top: 6vw;
  padding-bottom: 6vw;
  margin: 0;
}

.contact-form{
  background-color: #6070FF;
  background-image: url("./assets/bg.png");
  background-repeat: no-repeat;
  background-size: cover
}

.contact-form-section-wrapper{
  padding: 103px 24px 45px 24px;
  display: flex;
  flex-direction: column;
  gap: 52px;
}

.contact-form-section-wrapper .text-content{
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.contact-form-section-wrapper form{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact-form-section-wrapper form input[type="text"],
.contact-form-section-wrapper form input[type="email"],
.contact-form-section-wrapper form textarea{
  padding: 15px 16px;
  font-size: 18px;
  color: #172B4D;
  border: 1px solid #CFD8DC;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.contact-form-section-wrapper form textarea{
  color: #CFD8DC;
}
.contact-form-section-wrapper form input[type="submit"]{
  padding: 12px 16px;
  font-size: 17px;
  width: 50%;
  border-radius: ;
  -webkit-border-radius: ;
  -moz-border-radius: ;
  -ms-border-radius: ;
  -o-border-radius: ;
}