
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}

.navbar {
  margin-top: 58px;
  display: flex;
  justify-content: space-between;
  padding: 0 24px;
}

.navbar .logo {
  vertical-align: middle;
  margin-top: 3px;
}

.hamburger {
  width: 10%;
  height: 4px;
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.line-top,
.line-middle,
.line-bottom {
  border: 2px solid #6070ff;
}

.title {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
}

.intro {
  padding: 20% 5%;
  background: white url("./assets/bg.png") no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.let-connect {
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 24px;
  color: #7f8cff;
}

.bio {
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 24px;
  color: #344563;
}

.social-icons {
  display: flex;
  gap: 5%;
  align-items: baseline;
}

.social-icons i {
  color: #505f79;
}

.social-icons li{
  list
}
